## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [16]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [17]:
# 1) Seu código aqui


def calculo_da_porcentagem_de_acertos_nas_materias(dataframe, numero_de_questoes) -> str:
    porcentual_de_acerto = (dataframe['Qt_acertos'].sum()) / (numero_de_questoes*100)
    porcentual_de_acerto = round(porcentual_de_acerto * 100, 2) 
    return porcentual_de_acerto

matematica = calculo_da_porcentagem_de_acertos_nas_materias(df_mat, 24)
portugues = calculo_da_porcentagem_de_acertos_nas_materias(df_por, 18)
geografia = calculo_da_porcentagem_de_acertos_nas_materias(df_geo, 8)
ingles = calculo_da_porcentagem_de_acertos_nas_materias(df_ing, 8)
historia = calculo_da_porcentagem_de_acertos_nas_materias(df_his, 8)
fisica = calculo_da_porcentagem_de_acertos_nas_materias(df_fis, 12)
quimica = calculo_da_porcentagem_de_acertos_nas_materias(df_qui, 12)

print(f'O porcentual de acertos na matéria de matemática foi de: {matematica}%')
print(f'O porcentual de acertos na matéria de português foi de: {portugues}%')
print(f'O porcentual de acertos na matéria de geografia foi de: {geografia}%')
print(f'O porcentual de acertos na matéria de inglês foi de: {ingles}%')
print(f'O porcentual de acertos na matéria de história foi de: {historia}%')
print(f'O porcentual de acertos na matéria de física foi de: {fisica}%')
print(f'O porcentual de acertos na matéria de química foi de: {quimica}%')

O porcentual de acertos na matéria de matemática foi de: 49.38%
O porcentual de acertos na matéria de português foi de: 40.17%
O porcentual de acertos na matéria de geografia foi de: 42.0%
O porcentual de acertos na matéria de inglês foi de: 47.62%
O porcentual de acertos na matéria de história foi de: 45.0%
O porcentual de acertos na matéria de física foi de: 44.33%
O porcentual de acertos na matéria de química foi de: 45.25%

In [19]:
# 2) Seu código aqui
df_all = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1) 
df_all.columns = ('Matemática', 'Português', 'Geografia', 'Inglês', 'História', 'Física', 'Quimica')
dataframe_transposto = df_all.T

for nome, aluno in dataframe_transposto.items():
    total_de_acertos = aluno.sum()
    print(f'Nome: {nome}')
    print(f'{aluno.to_string(dtype=False)}')
    print(f'O total de acertos foi de: {total_de_acertos}\n')
    
df_all['Total de acertos'] = df_all.sum(axis=1)

Nome: 0
Matemática    6
Português     7
Geografia     7
Inglês        3
História      1
Física        8
Quimica       3
O total de acertos foi de: 35

Nome: 1
Matemática    19
Português     10
Geografia      0
Inglês         0
História       0
Física        11
Quimica        8
O total de acertos foi de: 48

Nome: 2
Matemática    14
Português     16
Geografia      0
Inglês         5
História       7
Física         4
Quimica        4
O total de acertos foi de: 50

Nome: 3
Matemática    10
Português      7
Geografia      3
Inglês         4
História       0
Física         0
Quimica        8
O total de acertos foi de: 32

Nome: 4
Matemática    7
Português     2
Geografia     2
Inglês        7
História      0
Física        9
Quimica       3
O total de acertos foi de: 30

Nome: 5
Matemática    20
Português      2
Geografia      5
Inglês         3
História       2
Física         9
Quimica        9
O total de acertos foi de: 50

Nome: 6
Matemática    6
Português     0
Geografia     7
Inglês        7
História      5
Física        0
Quimica       4
O total de acertos foi de: 29

Nome: 7
Matemática    18
Português      4
Geografia      4
Inglês         7
História       7
Física         1
Quimica        8
O total de acertos foi de: 49

Nome: 8
Matemática    22
Português      9
Geografia      2
Inglês         7
História       6
Física         5
Quimica        7
O total de acertos foi de: 58

Nome: 9
Matemática    10
Português      6
Geografia      3
Inglês         6
História       4
Física         8
Quimica        2
O total de acertos foi de: 39

Nome: 10
Matemática    10
Português      8
Geografia      3
Inglês         2
História       1
Física         7
Quimica        0
O total de acertos foi de: 31

Nome: 11
Matemática    23
Português      6
Geografia      2
Inglês         0
História       6
Física         4
Quimica        2
O total de acertos foi de: 43

Nome: 12
Matemática    20
Português      8
Geografia      3
Inglês         7
História       1
Física         0
Quimica        3
O total de acertos foi de: 42

Nome: 13
Matemática    3
Português     7
Geografia     2
Inglês        0
História      2
Física        6
Quimica       1
O total de acertos foi de: 21

Nome: 14
Matemática     7
Português     11
Geografia      1
Inglês         7
História       1
Física         4
Quimica        0
O total de acertos foi de: 31

Nome: 15
Matemática    23
Português      1
Geografia      2
Inglês         3
História       0
Física         5
Quimica        6
O total de acertos foi de: 40

Nome: 16
Matemática    2
Português     0
Geografia     6
Inglês        2
História      7
Física        6
Quimica       7
O total de acertos foi de: 30

Nome: 17
Matemática    21
Português     15
Geografia      2
Inglês         2
História       4
Física         2
Quimica        6
O total de acertos foi de: 52

Nome: 18
Matemática    20
Português      4
Geografia      3
Inglês         5
História       3
Física        11
Quimica        4
O total de acertos foi de: 50

Nome: 19
Matemática     1
Português      2
Geografia      7
Inglês         6
História       1
Física         9
Quimica       11
O total de acertos foi de: 37

Nome: 20
Matemática    23
Português     11
Geografia      6
Inglês         5
História       6
Física         2
Quimica        0
O total de acertos foi de: 53

Nome: 21
Matemática    11
Português      7
Geografia      3
Inglês         5
História       0
Física         4
Quimica        6
O total de acertos foi de: 36

Nome: 22
Matemática    5
Português     2
Geografia     0
Inglês        5
História      3
Física        5
Quimica       6
O total de acertos foi de: 26

Nome: 23
Matemática    1
Português     0
Geografia     0
Inglês        5
História      4
Física        8
Quimica       8
O total de acertos foi de: 26

Nome: 24
Matemática    20
Português      2
Geografia      7
Inglês         5
História       3
Física        11
Quimica        2
O total de acertos foi de: 50

Nome: 25
Matemática    0
Português     4
Geografia     7
Inglês        4
História      0
Física        4
Quimica       8
O total de acertos foi de: 27

Nome: 26
Matemática    11
Português     14
Geografia      6
Inglês         2
História       7
Física         0
Quimica        0
O total de acertos foi de: 40

Nome: 27
Matemática    21
Português     13
Geografia      1
Inglês         5
História       7
Física         3
Quimica        0
O total de acertos foi de: 50

Nome: 28
Matemática    11
Português      2
Geografia      7
Inglês         7
História       5
Física         4
Quimica        3
O total de acertos foi de: 39

Nome: 29
Matemática    16
Português      0
Geografia      0
Inglês         2
História       7
Física        11
Quimica        8
O total de acertos foi de: 44

Nome: 30
Matemática    9
Português     4
Geografia     2
Inglês        2
História      5
Física        9
Quimica       5
O total de acertos foi de: 36

Nome: 31
Matemática    15
Português     13
Geografia      3
Inglês         1
História       3
Física         9
Quimica       10
O total de acertos foi de: 54

Nome: 32
Matemática    14
Português      6
Geografia      0
Inglês         4
História       2
Física         4
Quimica        2
O total de acertos foi de: 32

Nome: 33
Matemática    14
Português      8
Geografia      0
Inglês         5
História       6
Física         6
Quimica        0
O total de acertos foi de: 39

Nome: 34
Matemática    18
Português     14
Geografia      1
Inglês         0
História       6
Física         3
Quimica        3
O total de acertos foi de: 45

Nome: 35
Matemática    11
Português     14
Geografia      6
Inglês         3
História       3
Física         0
Quimica       11
O total de acertos foi de: 48

Nome: 36
Matemática    22
Português      9
Geografia      6
Inglês         6
História       1
Física         4
Quimica        8
O total de acertos foi de: 56

Nome: 37
Matemática    19
Português     12
Geografia      5
Inglês         7
História       1
Física         6
Quimica        2
O total de acertos foi de: 52

Nome: 38
Matemática     2
Português      6
Geografia      1
Inglês         0
História       7
Física         9
Quimica       11
O total de acertos foi de: 36

Nome: 39
Matemática     4
Português     16
Geografia      2
Inglês         4
História       6
Física         9
Quimica        8
O total de acertos foi de: 49

Nome: 40
Matemática    18
Português      3
Geografia      6
Inglês         3
História       6
Física         5
Quimica        6
O total de acertos foi de: 47

Nome: 41
Matemática     6
Português      4
Geografia      3
Inglês         4
História       5
Física         4
Quimica       11
O total de acertos foi de: 37

Nome: 42
Matemática    20
Português      6
Geografia      7
Inglês         7
História       2
Física         3
Quimica        3
O total de acertos foi de: 48

Nome: 43
Matemática     8
Português     12
Geografia      1
Inglês         2
História       0
Física         1
Quimica        2
O total de acertos foi de: 26

Nome: 44
Matemática     6
Português     14
Geografia      7
Inglês         3
História       1
Física         3
Quimica        9
O total de acertos foi de: 43

Nome: 45
Matemática    17
Português     10
Geografia      0
Inglês         2
História       6
Física         9
Quimica        4
O total de acertos foi de: 48

Nome: 46
Matemática    3
Português     3
Geografia     3
Inglês        7
História      5
Física        9
Quimica       4
O total de acertos foi de: 34

Nome: 47
Matemática    13
Português     12
Geografia      3
Inglês         0
História       4
Física         2
Quimica        2
O total de acertos foi de: 36

Nome: 48
Matemática    17
Português      6
Geografia      0
Inglês         7
História       5
Física         9
Quimica       11
O total de acertos foi de: 55

Nome: 49
Matemática    8
Português     1
Geografia     1
Inglês        0
História      1
Física        0
Quimica       8
O total de acertos foi de: 19

Nome: 50
Matemática    20
Português      9
Geografia      0
Inglês         3
História       1
Física         7
Quimica        3
O total de acertos foi de: 43

Nome: 51
Matemática     1
Português     12
Geografia      7
Inglês         3
História       5
Física         4
Quimica       10
O total de acertos foi de: 42

Nome: 52
Matemática    19
Português      5
Geografia      5
Inglês         5
História       0
Física         3
Quimica        4
O total de acertos foi de: 41

Nome: 53
Matemática    14
Português     11
Geografia      3
Inglês         4
História       3
Física         7
Quimica        3
O total de acertos foi de: 45

Nome: 54
Matemática     6
Português     11
Geografia      4
Inglês         5
História       1
Física         6
Quimica        4
O total de acertos foi de: 37

Nome: 55
Matemática    11
Português     10
Geografia      4
Inglês         4
História       5
Física         1
Quimica        6
O total de acertos foi de: 41

Nome: 56
Matemática    7
Português     6
Geografia     7
Inglês        5
História      6
Física        0
Quimica       8
O total de acertos foi de: 39

Nome: 57
Matemática    14
Português      0
Geografia      2
Inglês         2
História       5
Física        11
Quimica        6
O total de acertos foi de: 40

Nome: 58
Matemática     2
Português      0
Geografia      6
Inglês         3
História       2
Física        10
Quimica        4
O total de acertos foi de: 27

Nome: 59
Matemática    13
Português     12
Geografia      0
Inglês         0
História       3
Física         3
Quimica        9
O total de acertos foi de: 40

Nome: 60
Matemática    16
Português      8
Geografia      0
Inglês         4
História       4
Física         7
Quimica        9
O total de acertos foi de: 48

Nome: 61
Matemática     3
Português      2
Geografia      2
Inglês         7
História       0
Física        11
Quimica        6
O total de acertos foi de: 31

Nome: 62
Matemática    17
Português      6
Geografia      2
Inglês         4
História       7
Física         1
Quimica        9
O total de acertos foi de: 46

Nome: 63
Matemática    7
Português     5
Geografia     7
Inglês        0
História      4
Física        2
Quimica       4
O total de acertos foi de: 29

Nome: 64
Matemática     3
Português      7
Geografia      7
Inglês         5
História       3
Física        11
Quimica        2
O total de acertos foi de: 38

Nome: 65
Matemática    1
Português     8
Geografia     2
Inglês        4
História      3
Física        0
Quimica       6
O total de acertos foi de: 24

Nome: 66
Matemática     5
Português      4
Geografia      3
Inglês         6
História       3
Física         0
Quimica       10
O total de acertos foi de: 31

Nome: 67
Matemática    21
Português      0
Geografia      7
Inglês         2
História       4
Física         2
Quimica       10
O total de acertos foi de: 46

Nome: 68
Matemática     9
Português      9
Geografia      5
Inglês         3
História       6
Física        10
Quimica        1
O total de acertos foi de: 43

Nome: 69
Matemática     3
Português     11
Geografia      7
Inglês         0
História       3
Física         4
Quimica       11
O total de acertos foi de: 39

Nome: 70
Matemática    21
Português     14
Geografia      0
Inglês         3
História       5
Física        11
Quimica        8
O total de acertos foi de: 62

Nome: 71
Matemática    17
Português      8
Geografia      7
Inglês         6
História       4
Física         2
Quimica        9
O total de acertos foi de: 53

Nome: 72
Matemática    11
Português     16
Geografia      3
Inglês         4
História       7
Física         0
Quimica        9
O total de acertos foi de: 50

Nome: 73
Matemática     1
Português     16
Geografia      2
Inglês         4
História       3
Física         0
Quimica       11
O total de acertos foi de: 37

Nome: 74
Matemática     9
Português     11
Geografia      0
Inglês         7
História       5
Física         7
Quimica        0
O total de acertos foi de: 39

Nome: 75
Matemática    3
Português     6
Geografia     7
Inglês        6
História      6
Física        9
Quimica       5
O total de acertos foi de: 42

Nome: 76
Matemática    13
Português      1
Geografia      3
Inglês         0
História       2
Física        10
Quimica        6
O total de acertos foi de: 35

Nome: 77
Matemática    15
Português      2
Geografia      5
Inglês         7
História       6
Física        11
Quimica        7
O total de acertos foi de: 53

Nome: 78
Matemática    14
Português     16
Geografia      7
Inglês         2
História       7
Física        11
Quimica        9
O total de acertos foi de: 66

Nome: 79
Matemática    7
Português     4
Geografia     3
Inglês        7
História      3
Física        1
Quimica       8
O total de acertos foi de: 33

Nome: 80
Matemática    13
Português     16
Geografia      5
Inglês         1
História       7
Física         2
Quimica        1
O total de acertos foi de: 45

Nome: 81
Matemática    22
Português     16
Geografia      2
Inglês         0
História       4
Física         1
Quimica       10
O total de acertos foi de: 55

Nome: 82
Matemática     7
Português     16
Geografia      7
Inglês         1
História       1
Física         2
Quimica        9
O total de acertos foi de: 43

Nome: 83
Matemática    20
Português      1
Geografia      5
Inglês         6
História       3
Física         6
Quimica        1
O total de acertos foi de: 42

Nome: 84
Matemática    15
Português      1
Geografia      0
Inglês         5
História       1
Física         0
Quimica        4
O total de acertos foi de: 26

Nome: 85
Matemática    12
Português      4
Geografia      2
Inglês         1
História       5
Física         9
Quimica        4
O total de acertos foi de: 37

Nome: 86
Matemática    17
Português      0
Geografia      0
Inglês         2
História       2
Física         7
Quimica        5
O total de acertos foi de: 33

Nome: 87
Matemática    14
Português      0
Geografia      4
Inglês         7
História       0
Física         9
Quimica        2
O total de acertos foi de: 36

Nome: 88
Matemática    20
Português      1
Geografia      1
Inglês         5
História       7
Física         9
Quimica        7
O total de acertos foi de: 50

Nome: 89
Matemática    23
Português     11
Geografia      7
Inglês         7
História       6
Física         9
Quimica        0
O total de acertos foi de: 63

Nome: 90
Matemática    12
Português      5
Geografia      5
Inglês         1
História       2
Física         1
Quimica        5
O total de acertos foi de: 31

Nome: 91
Matemática    8
Português     3
Geografia     1
Inglês        7
História      3
Física        2
Quimica       3
O total de acertos foi de: 27

Nome: 92
Matemática    14
Português     10
Geografia      1
Inglês         6
História       1
Física         8
Quimica        0
O total de acertos foi de: 40

Nome: 93
Matemática    12
Português     16
Geografia      5
Inglês         5
História       6
Física         6
Quimica        6
O total de acertos foi de: 56

Nome: 94
Matemática    0
Português     5
Geografia     2
Inglês        6
História      1
Física        3
Quimica       8
O total de acertos foi de: 25

Nome: 95
Matemática    6
Português     4
Geografia     7
Inglês        1
História      4
Física        9
Quimica       3
O total de acertos foi de: 34

Nome: 96
Matemática    8
Português     1
Geografia     4
Inglês        6
História      1
Física        4
Quimica       3
O total de acertos foi de: 27

Nome: 97
Matemática    23
Português      5
Geografia      0
Inglês         2
História       4
Física         1
Quimica        5
O total de acertos foi de: 40

Nome: 98
Matemática     0
Português     10
Geografia      3
Inglês         1
História       5
Física        10
Quimica       11
O total de acertos foi de: 40

Nome: 99
Matemática    11
Português     15
Geografia      0
Inglês         1
História       6
Física         7
Quimica        2
O total de acertos foi de: 42

In [18]:
df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [20]:
# 3) Seu código aqui
total_de_questoes = {'Matemática': 24, 'Português': 18 , 'Geografia': 8, 'Inglês': 8, 'História': 8, 'Física': 12, 'Quimica': 12}
coluna_total_de_questoes = pd.Series(total_de_questoes).sum()

In [21]:
df_all['Total de questões'] = coluna_total_de_questoes
df_all['Porcentagem geral de acertos'] = round((df_all['Total de acertos'] / df_all['Total de questões']) * 100, 2)
df_all

,Matemática,Português,Geografia,Inglês,História,Física,Quimica,Total de acertos,Total de questões,Porcentagem geral de acertos
0,6,7,7,3,1,8,3,35,90,38.89
1,19,10,0,0,0,11,8,48,90,53.33
2,14,16,0,5,7,4,4,50,90,55.56
3,10,7,3,4,0,0,8,32,90,35.56
4,7,2,2,7,0,9,3,30,90,33.33
...,...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34,90,37.78
96,8,1,4,6,1,4,3,27,90,30.00
97,23,5,0,2,4,1,5,40,90,44.44
98,0,10,3,1,5,10,11,40,90,44.44
99,11,15,0,1,6,7,2,42,90,46.67

In [22]:
# 4) Seu código aqui
df_all['Aprovado'] = 0
df_all.loc[df_all['Porcentagem geral de acertos'] >= 45, 'Aprovado'] = 1
df_all['Aprovado'].sum()

47

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [23]:
# seu código aqui
df_reprovados = df_all.loc[df_all['Matemática'] == 0]
df_reprovados = df_all.loc[df_all['Física'] == 0]
df_reprovados = df_all.loc[df_all['Quimica'] == 0]
df_reprovados = df_reprovados.drop(columns='Aprovado')
df_reprovados

,Matemática,Português,Geografia,Inglês,História,Física,Quimica,Total de acertos,Total de questões,Porcentagem geral de acertos
10,10,8,3,2,1,7,0,31,90,34.44
14,7,11,1,7,1,4,0,31,90,34.44
20,23,11,6,5,6,2,0,53,90,58.89
26,11,14,6,2,7,0,0,40,90,44.44
27,21,13,1,5,7,3,0,50,90,55.56
33,14,8,0,5,6,6,0,39,90,43.33
74,9,11,0,7,5,7,0,39,90,43.33
89,23,11,7,7,6,9,0,63,90,70.00
92,14,10,1,6,1,8,0,40,90,44.44

In [24]:
df_reprovados.info()
print('São nove alunos reprovados por tirar nota 0 em uma das matérias críticas')

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 10 to 92
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Matemática                    9 non-null      int32
 1   Português                     9 non-null      int32
 2   Geografia                     9 non-null      int32
 3   Inglês                        9 non-null      int32
 4   História                      9 non-null      int32
 5   Física                        9 non-null      int32
 6   Quimica                       9 non-null      int32
 7   Total de acertos              9 non-null      int64
 8   Total de questões             9 non-null      int64
 9   Porcentagem geral de acertos  9 non-null      float64
dtypes: float64(1), int32(7), int64(2)
memory usage: 540.0 bytes
São nove alunos reprovados por tirar nota 0 em uma das matérias críticas

In [25]:
# 3. Qual a média desses alunos em história e geografia?
media_geral_historia = round(df_reprovados['História'].mean(),2)
media_geral_geografia = round(df_reprovados['Geografia'].mean(),2)

dataframe_generico = pd.DataFrame(pd.Series(total_de_questoes)).T

media_individual_reprovados = (df_reprovados[['História', 'Geografia']].div(dataframe_generico.iloc[0]) * 100) 

print(f'A média geral de História da turma dos reprovados é de: {media_geral_historia}')
print(f'A média geral de Geografia da turma dos reprovados é de: {media_geral_geografia}')
media_individual_reprovados

A média geral de História da turma dos reprovados é de: 4.44
A média geral de Geografia da turma dos reprovados é de: 2.78

    Física  Geografia  História  Inglês  Matemática  Português  Quimica
10     NaN       37.5      12.5     NaN         NaN        NaN      NaN
14     NaN       12.5      12.5     NaN         NaN        NaN      NaN
20     NaN       75.0      75.0     NaN         NaN        NaN      NaN
26     NaN       75.0      87.5     NaN         NaN        NaN      NaN
27     NaN       12.5      87.5     NaN         NaN        NaN      NaN
33     NaN        0.0      75.0     NaN         NaN        NaN      NaN
74     NaN        0.0      62.5     NaN         NaN        NaN      NaN
89     NaN       87.5      75.0     NaN         NaN        NaN      NaN
92     NaN       12.5      12.5     NaN         NaN        NaN      NaN

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [26]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-5ed92752-6121-474f-ab37-816918134afc.c000.csv' #Este link está desatualizado

arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-351477fc-660a-4602-b3a5-2176017c2c88.c000.csv'

In [27]:
# 1) Sua solução aqui
df_vacinacao = pd.read_csv('https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-2c5245d7-971f-426e-a26f-54eb4550d796.c000.csv' , sep= ';')

In [28]:
df_vacinacao.head(n=5)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,a9999721-43c0-422e-ae5c-1cc2d4cfe07e-i0b0,0a6fa8fc037435e78d5476f4995fc25bb1c716cc370676...,27,1993-08-16,M,3,PARDA,120033.0,10.0,MANCIO LIMA,...,2.0,Faixa Etária,216VCD203Z,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-08-05,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
1,dd097975-d896-4adc-97a1-5de3f51792a4-i0b0,5310f2da2074b4d20620f811323a6f7c4fc8853fc5a41f...,22,1998-08-09,F,99,SEM INFORMACAO,120013.0,10.0,BUJARI,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-07-23,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,db58f53d-8f33-42a6-8829-0abe00389a73-i0b0,05e7be6e9ef6b7666ff8d28eddf6d7f76154860dcce2b7...,62,1959-11-08,M,3,PARDA,110028.0,10.0,ROLIM DE MOURA,...,2.0,Faixa Etária,32010BD,PFIZER,Organization/28290,2021-12-17,Reforço,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,dd180d26-5bee-44d5-a4d5-ea314976d7f1-i0b0,d0a264fe07e8b95225c45d61cd6f1c020c1dec5d5f1125...,68,1953-03-01,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FH4750,PFIZER,Organization/28290,2021-11-25,Reforço,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,e9b5c1d8-471f-400c-9c3b-2db45ce4b1be-i0b0,1b5a54c96f4fef5ba65535e12cb92502e98f7bd96a31a1...,39,1983-05-08,F,4,AMARELA,120040.0,10.0,RIO BRANCO,...,9.0,Trabalhadores de Saúde,212J21A,JANSSEN,30587,2022-06-14,Dose Adicional,88,COVID-19 JANSSEN - Ad26.COV2.S,Novo PNI

In [29]:
qtd_de_vacinas = df_vacinacao['vacina_fabricante_nome'].nunique()

In [30]:
print(f'A quantidade de variações da vacina é {qtd_de_vacinas}')

A quantidade de variações da vacina é 13

In [31]:
# 2)
qtd_de_pacientes_vacinados = df_vacinacao['paciente_id'].nunique()
print(f'A quantidade de pacientes vacinados é de: {qtd_de_pacientes_vacinados}')

A quantidade de pacientes vacinados é de: 318850

In [32]:
# 3)
df_vacinacao['vacina_descricao_dose'].unique()

array(['1ª Dose', 'Reforço', 'Dose Adicional', '2ª Dose', '2º Reforço',
       'Dose', 'Única', '1º Reforço', '1ª Dose Revacinação',
       'Revacinação', '3ª Dose', '3º Reforço', '2ª Dose Revacinação',
       '4ª Dose Revacinação', '3ª Dose Revacinação',
       '5ª Dose Revacinação'], dtype=object)

In [33]:
contagem_da_primeira_dose = df_vacinacao.loc[df_vacinacao['vacina_descricao_dose'] == 'Dose'].shape[0]
print(f'O número de pacientes que tomaram a primeira dose foi de: {contagem_da_primeira_dose}')

O número de pacientes que tomaram a primeira dose foi de: 3252

In [34]:
# 3) solução alternativa
df_vacinacao['fl_primeira_dose'] = 0
df_vacinacao.loc[df_vacinacao['vacina_descricao_dose'] == 'Dose', 'fl_primeira_dose'] = 1
df_vacinacao['fl_primeira_dose'].sum()

3252

In [35]:
# 4)
df_vacinacao.loc[df_vacinacao['paciente_idade'] > 18, 'paciente_idade'].shape[0]

303721

In [39]:
# 5)
estabelecimentos = df_vacinacao.loc[: ,['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']]
estabelecimentos = estabelecimentos.drop_duplicates()
numero_estabelecimentos = estabelecimentos['estabelecimento_razaoSocial'].nunique()

print(f'O número de estabelecimentos que aplicaram vacina no Acre foi de {numero_estabelecimentos}')

O número de estabelecimentos que aplicaram vacina no Acre foi de 64

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [94]:
# 1)
df_menor_idade = df_vacinacao.loc[df_vacinacao['paciente_idade'] > 18]

In [ ]:
# 2)
lista_colunas = list(df_menor_idade.columns.unique())
lista_colunas

In [ ]:
# 3)
df_menor_idade['vacina_categoria_nome'].count()

In [97]:
# 4)
colunas_estabelecimentos = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']

In [ ]:
df_menor_idade.columns

In [ ]:
# 5)
estabelecimentos_de_aplicacao = df_menor_idade.loc[: ,['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']]
estabelecimentos_de_aplicacao

In [ ]:
#6)
dados_estabelecimentos = estabelecimentos_de_aplicacao.drop_duplicates()
dados_estabelecimentos = dados_estabelecimentos.T
lista_estabelecimentos = []

for nome,estabelecimento in dados_estabelecimentos.items():
    lista_ocasional = list(estabelecimento)
    lista_estabelecimentos.append(lista_ocasional)
    
for sublista in lista_estabelecimentos:
    print(sublista)