# 0. Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Identificando dados ausentes/missing](#identificando)
4. [Tratando dados ausentes/missing](#tratando)
5. [Dados duplicados](#duplicados)
6. [Mapeamento](#map)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import pandas as pd
import numpy as np

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100,
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    columns=["coluna1", "coluna2", "coluna3","coluna4"],
)
df

      coluna1     coluna2     coluna3     coluna4
A   37.667623  160.426864   26.534952  -63.159268
B   28.300573  -42.649663   74.927351   52.773876
C  -75.375987 -106.073329 -186.757303   11.964203
D   28.748617    4.947469  -46.453760   31.714625
E  134.474381  -57.716214   13.219282   83.011871
F   17.612729   37.262460  104.909929 -139.101149
G  146.982358  107.919949    7.009006 -168.252513
H    3.337612   44.991648   -3.890638 -118.851465
I -104.858759   68.195993  -81.733960 -111.019660

In [3]:
df.dtypes

coluna1    float64
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

## Alterando os tipos de dados

In [4]:
df['coluna1'] = df['coluna1'].astype(int)

In [5]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

In [6]:
df['coluna3'] = df['coluna3'].astype(str)

In [7]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

In [8]:
df

   coluna1     coluna2              coluna3     coluna4
A       37  160.426864    26.53495215807759  -63.159268
B       28  -42.649663    74.92735099424476   52.773876
C      -75 -106.073329  -186.75730263732882   11.964203
D       28    4.947469   -46.45375960317058   31.714625
E      134  -57.716214   13.219282305552937   83.011871
F       17   37.262460   104.90992887023529 -139.101149
G      146  107.919949    7.009005537783794 -168.252513
H        3   44.991648  -3.8906376344036255 -118.851465
I     -104   68.195993   -81.73396014687793 -111.019660

## Acrescentando dados faltantes na tabela

In [9]:
df.iloc[4,2]

'13.219282305552937'

In [10]:
df.iloc[4,2] = np.nan

In [11]:
df

   coluna1     coluna2              coluna3     coluna4
A       37  160.426864    26.53495215807759  -63.159268
B       28  -42.649663    74.92735099424476   52.773876
C      -75 -106.073329  -186.75730263732882   11.964203
D       28    4.947469   -46.45375960317058   31.714625
E      134  -57.716214                  NaN   83.011871
F       17   37.262460   104.90992887023529 -139.101149
G      146  107.919949    7.009005537783794 -168.252513
H        3   44.991648  -3.8906376344036255 -118.851465
I     -104   68.195993   -81.73396014687793 -111.019660

In [12]:
df.iloc[1,0] = np.nan
df.iloc[4,0] = np.nan
df.iloc[3,0] = np.nan
df.iloc[8,0] = np.nan
df.iloc[6,0] = np.nan
df.iloc[4,3] = np.nan
df.iloc[4,3] = np.nan
df.iloc[8,3] = np.nan

In [13]:
df

   coluna1     coluna2              coluna3     coluna4
A     37.0  160.426864    26.53495215807759  -63.159268
B      NaN  -42.649663    74.92735099424476   52.773876
C    -75.0 -106.073329  -186.75730263732882   11.964203
D      NaN    4.947469   -46.45375960317058   31.714625
E      NaN  -57.716214                  NaN         NaN
F     17.0   37.262460   104.90992887023529 -139.101149
G      NaN  107.919949    7.009005537783794 -168.252513
H      3.0   44.991648  -3.8906376344036255 -118.851465
I      NaN   68.195993   -81.73396014687793         NaN

In [14]:
# Os tipos de dados podem mudar após acrescentar um dado faltante
df.dtypes

coluna1    float64
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

# 3. Identificando dados ausentes <a name="identificando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [15]:
df.isna()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [16]:
# Alias do isna
df.isnull()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [17]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [18]:
df[df['coluna1'].isna()]

   coluna1     coluna2             coluna3     coluna4
B      NaN  -42.649663   74.92735099424476   52.773876
D      NaN    4.947469  -46.45375960317058   31.714625
E      NaN  -57.716214                 NaN         NaN
G      NaN  107.919949   7.009005537783794 -168.252513
I      NaN   68.195993  -81.73396014687793         NaN

In [19]:
df[~df['coluna1'].isna()]

   coluna1     coluna2              coluna3     coluna4
A     37.0  160.426864    26.53495215807759  -63.159268
C    -75.0 -106.073329  -186.75730263732882   11.964203
F     17.0   37.262460   104.90992887023529 -139.101149
H      3.0   44.991648  -3.8906376344036255 -118.851465

In [20]:
df['coluna1']

A    37.0
B     NaN
C   -75.0
D     NaN
E     NaN
F    17.0
G     NaN
H     3.0
I     NaN
Name: coluna1, dtype: float64

In [21]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [22]:
df['coluna1'].isna().sum()

5

In [23]:
df.isna().sum()

coluna1    5
coluna2    0
coluna3    1
coluna4    2
dtype: int64

In [24]:
df['coluna2']

A    160.426864
B    -42.649663
C   -106.073329
D      4.947469
E    -57.716214
F     37.262460
G    107.919949
H     44.991648
I     68.195993
Name: coluna2, dtype: float64

In [25]:
df['coluna2'].isna().sum()

0

In [26]:
percentage = (df.isnull().sum() / len(df)) * 100
percentage

coluna1    55.555556
coluna2     0.000000
coluna3    11.111111
coluna4    22.222222
dtype: float64

# 4. Tratando dados ausentes <a name="tratando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [27]:
df['coluna1']

A    37.0
B     NaN
C   -75.0
D     NaN
E     NaN
F    17.0
G     NaN
H     3.0
I     NaN
Name: coluna1, dtype: float64

## Substituindo por 0

In [28]:
df['coluna1'].fillna(0)

A    37.0
B     0.0
C   -75.0
D     0.0
E     0.0
F    17.0
G     0.0
H     3.0
I     0.0
Name: coluna1, dtype: float64

## Substituindo pela média

In [29]:
df['coluna1']

A    37.0
B     NaN
C   -75.0
D     NaN
E     NaN
F    17.0
G     NaN
H     3.0
I     NaN
Name: coluna1, dtype: float64

In [30]:
(-23.0-132.0+94.0+0)/4

-15.25

In [31]:
df['coluna1'].mean()

-4.5

In [32]:
med_col1 = df['coluna1'].mean()

In [33]:
df['coluna1'].fillna(med_col1)

A    37.0
B    -4.5
C   -75.0
D    -4.5
E    -4.5
F    17.0
G    -4.5
H     3.0
I    -4.5
Name: coluna1, dtype: float64

## Substituindo pela mediana

In [34]:
df['coluna1']

A    37.0
B     NaN
C   -75.0
D     NaN
E     NaN
F    17.0
G     NaN
H     3.0
I     NaN
Name: coluna1, dtype: float64

In [35]:
df['coluna1'].sort_values()

C   -75.0
H     3.0
F    17.0
A    37.0
B     NaN
D     NaN
E     NaN
G     NaN
I     NaN
Name: coluna1, dtype: float64

In [36]:
(-77-33)/2

-55.0

In [37]:
df['coluna1'].median()

10.0

In [38]:
mediana_col1 = df['coluna1'].median()

In [39]:
df['coluna1'].fillna(mediana_col1)

A    37.0
B    10.0
C   -75.0
D    10.0
E    10.0
F    17.0
G    10.0
H     3.0
I    10.0
Name: coluna1, dtype: float64

In [40]:
df['coluna1'].fillna(method='ffill')

C:\Users\hfasa\AppData\Local\Temp\ipykernel_24068\110958190.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['coluna1'].fillna(method='ffill')

A    37.0
B    37.0
C   -75.0
D   -75.0
E   -75.0
F    17.0
G    17.0
H     3.0
I     3.0
Name: coluna1, dtype: float64

In [41]:
df['coluna1'].dropna()

A    37.0
C   -75.0
F    17.0
H     3.0
Name: coluna1, dtype: float64

In [42]:
# dropar todas as linhas que tenha pelo menos 1 NA
df.dropna()

   coluna1     coluna2              coluna3     coluna4
A     37.0  160.426864    26.53495215807759  -63.159268
C    -75.0 -106.073329  -186.75730263732882   11.964203
F     17.0   37.262460   104.90992887023529 -139.101149
H      3.0   44.991648  -3.8906376344036255 -118.851465

# 5. Dados duplicados <a name="duplicados"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [84]:
df_dup = pd.concat([df, df.loc['D':'H']], axis=0).sort_index()
df_dup

   coluna1     coluna2              coluna3     coluna4
A     37.0  160.426864    26.53495215807759  -63.159268
B      NaN  -42.649663    74.92735099424476   52.773876
C    -75.0 -106.073329  -186.75730263732882   11.964203
D      NaN    4.947469   -46.45375960317058   31.714625
D      NaN    4.947469   -46.45375960317058   31.714625
E      NaN  -57.716214                  NaN         NaN
E      NaN  -57.716214                  NaN         NaN
F     17.0   37.262460   104.90992887023529 -139.101149
F     17.0   37.262460   104.90992887023529 -139.101149
G      NaN  107.919949    7.009005537783794 -168.252513
G      NaN  107.919949    7.009005537783794 -168.252513
H      3.0   44.991648  -3.8906376344036255 -118.851465
H      3.0   44.991648  -3.8906376344036255 -118.851465
I      NaN   68.195993   -81.73396014687793         NaN

In [139]:
df_dup.drop_duplicates()

   coluna1     coluna2              coluna3     coluna4
A    -23.0  -29.152840  -104.97703793385477  185.956438
B      NaN   98.455629   -56.63918289481432  137.164956
C      0.0  -23.929166   200.88491360300534    1.188890
D      NaN  -21.026139  -27.933020884056358   87.437026
E      NaN  192.406008                  NaN         NaN
F   -132.0   27.891742  -146.61819382562678   69.352880
G      NaN  -96.661886    8.047981030796791  148.596987
H     94.0  -63.401987  -26.482816708266604  -80.205045
I      NaN -131.551463   131.37483723481265         NaN

In [138]:
df_dup.drop_duplicates(subset=['coluna1'])

   coluna1    coluna2              coluna3     coluna4
A    -23.0 -29.152840  -104.97703793385477  185.956438
B      NaN  98.455629   -56.63918289481432  137.164956
C      0.0 -23.929166   200.88491360300534    1.188890
F   -132.0  27.891742  -146.61819382562678   69.352880
H     94.0 -63.401987  -26.482816708266604  -80.205045

In [142]:
df_dup.duplicated()

A    False
B    False
C    False
D    False
D     True
E    False
E     True
F    False
F     True
G    False
G     True
H    False
H     True
I    False
dtype: bool

In [141]:
df_dup[df_dup.duplicated()]

   coluna1     coluna2              coluna3     coluna4
D      NaN  -21.026139  -27.933020884056358   87.437026
E      NaN  192.406008                  NaN         NaN
F   -132.0   27.891742  -146.61819382562678   69.352880
G      NaN  -96.661886    8.047981030796791  148.596987
H     94.0  -63.401987  -26.482816708266604  -80.205045

# 6. Mapeamentos <a name="map"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [145]:
# 1 feminino, 0 masculino
genero = pd.Series([1,0,1,1,1,1,0,0,0,1,1,0])
genero

0     1
1     0
2     1
3     1
4     1
5     1
6     0
7     0
8     0
9     1
10    1
11    0
dtype: int64

In [146]:
genero.map({1:'Feminino', 0:'Masculino'})

0      Feminino
1     Masculino
2      Feminino
3      Feminino
4      Feminino
5      Feminino
6     Masculino
7     Masculino
8     Masculino
9      Feminino
10     Feminino
11    Masculino
dtype: object

In [152]:
genero_2 = genero.map({1:'Feminino', 0:'Masculino'})

In [147]:
genero.map({1:'Feminino', 2:'Masculino'})

0     Feminino
1          NaN
2     Feminino
3     Feminino
4     Feminino
5     Feminino
6          NaN
7          NaN
8          NaN
9     Feminino
10    Feminino
11         NaN
dtype: object

In [153]:
genero_2.map('Genero: {}'.format)

0      Genero: Feminino
1     Genero: Masculino
2      Genero: Feminino
3      Genero: Feminino
4      Genero: Feminino
5      Genero: Feminino
6     Genero: Masculino
7     Genero: Masculino
8     Genero: Masculino
9      Genero: Feminino
10     Genero: Feminino
11    Genero: Masculino
dtype: object